Repository wasp-lang/wasp, pull requests merged in 2024-01, with the labels that each got.

#1634 Enable easier email dev setup
  waspc/data/Generator/templates/server/src/email/core/index.ts
  waspc/data/Generator/templates/server/src/email/core/providers/dummy.ts
  waspc/data/Generator/templates/server/src/email/core/types.ts
  waspc/data/Generator/templates/server/src/email/index.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/files.manifest
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/.waspchecksums
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/email/core/providers/dummy.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/email/core/types.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/email/index.ts
  waspc/headless-test/examples/todoApp/migrations/20240115130723_add_session/migration.sql
  waspc/src/Wasp/AppSpec/App/EmailSender.hs
  waspc/src/Wasp/AppSpec/Valid.hs
  waspc/src/Wasp/Generator/ServerGenerator/EmailSender/Providers.hs
  waspc/src/Wasp/Generator/ServerGenerator/EmailSenderG.hs
  waspc/test/AppSpec/ValidTest.hs
  web/docs/advanced/email/_dummy-provider-note.md
  web/docs/advanced/email/email.md
  web/docs/auth/email.md
  web/sidebars.js
Labels: auth

#1638 Remove user-facing unverified email flow
  waspc/data/Generator/templates/react-app/src/auth/forms/internal/common/LoginSignupForm.tsx
  waspc/data/Generator/templates/react-app/src/auth/forms/internal/email/useEmail.ts
  waspc/data/Generator/templates/server/src/auth/providers/config/email.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/login.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/signup.ts
  waspc/examples/todoApp/todoApp.wasp
  waspc/headless-test/examples/todoApp/sample.env.server
  waspc/headless-test/examples/todoApp/todoApp.wasp
  waspc/headless-test/tests/simple.spec.ts
  waspc/src/Wasp/AppSpec/App/Auth.hs
  waspc/src/Wasp/Generator/ServerGenerator/Auth/EmailAuthG.hs
  waspc/src/Wasp/Generator/WebAppGenerator/Auth/AuthFormsG.hs
  waspc/test/AppSpec/ValidTest.hs
  web/docs/auth/email.md
Labels: auth

#1639 Unify `userSignupFields` for all auth methods
  waspc/data/Generator/templates/server/src/auth/index.ts
  waspc/data/Generator/templates/server/src/auth/providers/config/_oauth.ts
  waspc/data/Generator/templates/server/src/auth/providers/config/email.ts
  waspc/data/Generator/templates/server/src/auth/providers/config/username.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/signup.ts
  waspc/data/Generator/templates/server/src/auth/providers/oauth/createRouter.ts
  waspc/data/Generator/templates/server/src/auth/providers/oauth/init.ts
  waspc/data/Generator/templates/server/src/auth/providers/oauth/types.ts
  waspc/data/Generator/templates/server/src/auth/providers/types.ts
  waspc/data/Generator/templates/server/src/auth/providers/username/signup.ts
  waspc/data/Generator/templates/server/src/auth/utils.ts
  waspc/data/Generator/templates/server/src/core/auth.js
  waspc/data/Generator/templates/server/src/types/index.ts
  waspc/e2e-test/test-outputs/waspBuild-golden/waspBuild/.wasp/build/.waspchecksums
  waspc/e2e-test/test-outputs/waspBuild-golden/waspBuild/.wasp/build/server/src/types/index.ts
  waspc/e2e-test/test-outputs/waspCompile-golden/waspCompile/.wasp/out/.waspchecksums
  waspc/e2e-test/test-outputs/waspCompile-golden/waspCompile/.wasp/out/server/src/types/index.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/.waspchecksums
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/providers/config/google.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/providers/oauth/createRouter.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/providers/oauth/init.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/providers/oauth/types.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/providers/types.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/auth/utils.ts
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/core/auth.js
  waspc/e2e-test/test-outputs/waspComplexTest-golden/waspComplexTest/.wasp/out/server/src/types/index.ts
  waspc/e2e-test/test-outputs/waspJob-golden/waspJob/.wasp/out/.waspchecksums
  waspc/e2e-test/test-outputs/waspJob-golden/waspJob/.wasp/out/server/src/types/index.ts
  waspc/e2e-test/test-outputs/waspMigrate-golden/waspMigrate/.wasp/out/.waspchecksums
  waspc/e2e-test/test-outputs/waspMigrate-golden/waspMigrate/.wasp/out/server/src/types/index.ts
  waspc/examples/crud-testing/main.wasp
  waspc/examples/crud-testing/src/server/auth.ts
  waspc/examples/crud-testing/src/server/auth_simple.js
  waspc/examples/todoApp/src/server/auth/email.ts
  waspc/examples/todoApp/src/server/auth/github.js
  waspc/examples/todoApp/src/server/auth/google.js
  waspc/examples/todoApp/src/server/auth/signup.ts
  waspc/examples/todoApp/todoApp.wasp
  waspc/src/Wasp/AppSpec/App/Auth.hs
  waspc/src/Wasp/Generator/ServerGenerator/Auth/EmailAuthG.hs
  waspc/src/Wasp/Generator/ServerGenerator/Auth/LocalAuthG.hs
  waspc/src/Wasp/Generator/ServerGenerator/Auth/OAuthAuthG.hs
  waspc/src/Wasp/Generator/ServerGenerator/AuthG.hs
  waspc/test/AnalyzerTest.hs
  waspc/test/AppSpec/ValidTest.hs
  web/docs/auth/_user-fields.md
  web/docs/auth/_user-signup-fields-explainer.md
  web/docs/auth/email.md
  web/docs/auth/overview.md
  web/docs/auth/social-auth/_api-reference-intro.md
  web/docs/auth/social-auth/_getuserfields-type.md
  web/docs/auth/social-auth/_override-example-intro.md
  web/docs/auth/social-auth/_override-intro.md
  web/docs/auth/social-auth/_username-generate-explanation.md
  web/docs/auth/social-auth/github.md
  web/docs/auth/social-auth/google.md
  web/docs/auth/social-auth/overview.md
  web/docs/auth/username-and-pass.md
Labels: auth

#1635 Migration instructions for new auth
  web/docs/auth/migrate-from-11.md
  web/sidebars.js
Labels: auth

#1647 Added information about Wasp AI to Wasp Docs.
  web/docs/introduction/quick-start.md
  web/docs/wasp-ai/creating-new-app.md
  web/docs/wasp-ai/developing-existing-app.md
  web/docs/wasp-ai/wasp-ai-1.png
  web/docs/wasp-ai/wasp-ai-2.png
  web/sidebars.js
Labels: documentation

#1652 Restructuring: fix npm deps installation + fix unit tests
  waspc/cli/src/Wasp/Cli/Command/Watch.hs
  waspc/src/Wasp/Generator/NpmDependencies.hs
  waspc/src/Wasp/Generator/NpmInstall.hs
  waspc/src/Wasp/Generator/NpmInstall/Common.hs
  waspc/src/Wasp/Generator/NpmInstall/InstalledNpmDepsLog.hs
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/Setup.hs
  waspc/src/Wasp/Project/Common.hs
  waspc/test/Analyzer/EvaluatorTest.hs
  waspc/test/AnalyzerTest.hs
  waspc/test/AppSpec/ValidTest.hs
  waspc/test/Generator/NpmDependenciesTest.hs
  waspc/test/Generator/WebAppGeneratorTest.hs
  waspc/waspc.cabal
Labels: restructuring

#1602 Implement the project install step
  waspc/cli/src/Wasp/Cli/Command/CreateNewProject/StarterTemplates/Templating.hs
  waspc/data/Cli/templates/basic/package.json
  waspc/data/Generator/templates/react-app/vite.config.ts
  waspc/data/Generator/templates/sdk/dependencies.txt
  waspc/examples/todo-typescript/cleanstart
  waspc/examples/todo-typescript/fix
  waspc/examples/todo-typescript/package.json
  waspc/src/Wasp/Analyzer/Evaluator/Evaluation/TypedExpr/Combinators.hs
  waspc/src/Wasp/AppSpec.hs
  waspc/src/Wasp/AppSpec/App.hs
  waspc/src/Wasp/AppSpec/App/Dependency.hs
  waspc/src/Wasp/AppSpec/PackageJson.hs
  waspc/src/Wasp/AppSpec/Valid.hs
  waspc/src/Wasp/Generator/Job.hs
  waspc/src/Wasp/Generator/Job/IO/PrefixedWriter.hs
  waspc/src/Wasp/Generator/NpmDependencies.hs
  waspc/src/Wasp/Generator/NpmInstall.hs
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/Setup.hs
  waspc/src/Wasp/Generator/WebAppGenerator.hs
  waspc/src/Wasp/Project/Analyze.hs
  waspc/src/Wasp/Project/Common.hs
  waspc/src/Wasp/Util/IO.hs
  waspc/src/Wasp/Util/Terminal.hs
  waspc/waspc.cabal
  web/docs/project/css-frameworks.md
  web/docs/project/customizing-app.md
  web/docs/project/dependencies.md
Labels: restructuring

#1604 Adapting Prisma for the new structure
  waspc/cli/src/Wasp/Cli/Command/Build.hs
  waspc/cli/src/Wasp/Cli/Command/Clean.hs
  waspc/cli/src/Wasp/Cli/Command/Common.hs
  waspc/cli/src/Wasp/Cli/Command/Compile.hs
  waspc/cli/src/Wasp/Cli/Command/CreateNewProject/AI.hs
  waspc/cli/src/Wasp/Cli/Command/CreateNewProject/StarterTemplates.hs
  waspc/cli/src/Wasp/Cli/Command/Db/Migrate.hs
  waspc/cli/src/Wasp/Cli/Command/Db/Reset.hs
  waspc/cli/src/Wasp/Cli/Command/Db/Seed.hs
  waspc/cli/src/Wasp/Cli/Command/Db/Studio.hs
  waspc/cli/src/Wasp/Cli/Command/Require.hs
  waspc/cli/src/Wasp/Cli/Command/Start.hs
  waspc/cli/src/Wasp/Cli/Command/Start/Db.hs
  waspc/cli/src/Wasp/Cli/Command/Studio.hs
  waspc/cli/src/Wasp/Cli/Command/Test.hs
  waspc/cli/src/Wasp/Cli/Command/Watch.hs
  waspc/cli/src/Wasp/Cli/Common.hs
  waspc/data/Cli/templates/basic/package.json
  waspc/data/Generator/templates/Dockerfile
  waspc/data/Generator/templates/db/schema.prisma
  waspc/examples/todo-typescript/package.json
  waspc/src/Wasp/Generator/DbGenerator.hs
  waspc/src/Wasp/Generator/DbGenerator/Common.hs
  waspc/src/Wasp/Generator/DbGenerator/Jobs.hs
  waspc/src/Wasp/Generator/DbGenerator/Operations.hs
  waspc/src/Wasp/Generator/DockerGenerator.hs
  waspc/src/Wasp/Generator/NpmDependencies.hs
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/ServerGenerator.hs
  waspc/src/Wasp/Project/Common.hs
Labels: prisma, restructuring

#1603 Adapt the `wasp clean` command and fix dep installation
  waspc/cli/exe/Main.hs
  waspc/cli/src/Wasp/Cli/Command/BashCompletion.hs
  waspc/cli/src/Wasp/Cli/Command/Clean.hs
  waspc/cli/src/Wasp/Cli/Command/Common.hs
  waspc/cli/src/Wasp/Cli/Command/Watch.hs
  waspc/src/Wasp/Generator/NpmDependencies.hs
  waspc/src/Wasp/Generator/NpmInstall.hs
  waspc/src/Wasp/Generator/NpmInstall/Common.hs
  waspc/src/Wasp/Generator/NpmInstall/InstalledNpmDepsLog.hs
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/Setup.hs
  waspc/src/Wasp/Project/Common.hs
  waspc/src/Wasp/Util/IO.hs
  waspc/test/Analyzer/EvaluatorTest.hs
  waspc/test/AnalyzerTest.hs
  waspc/test/AppSpec/ValidTest.hs
  waspc/test/Generator/NpmDependenciesTest.hs
  waspc/test/Generator/WebAppGeneratorTest.hs
  waspc/waspc.cabal
Labels: dx, cli, restructuring

#1650 Updating LSP to work with changes restructuring introduced
  waspc/data/Lsp/templates/ts/action.fn.ts
  waspc/data/Lsp/templates/ts/query.fn.ts
  waspc/src/Wasp/Project/Common.hs
  waspc/waspls/src/Wasp/LSP/Analysis.hs
  waspc/waspls/src/Wasp/LSP/ExtImport/ExportsCache.hs
  waspc/waspls/src/Wasp/LSP/ExtImport/Path.hs
Labels: restructuring

#1679 [New SDK] 'wasp/server/api'
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/api/index.ts
  waspc/examples/todo-typescript/src/api.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/ServerApiG.hs
  waspc/waspc.cabal
Labels: new sdk api

#1681 [New SDK]: 'wasp/client/api'.
  waspc/data/Generator/templates/react-app/src/auth/pages/OAuthCodeExchange.jsx
  waspc/data/Generator/templates/sdk/api/index.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/login.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/passwordReset.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/signup.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/verifyEmail.ts
  waspc/data/Generator/templates/sdk/auth/helpers/user.ts
  waspc/data/Generator/templates/sdk/auth/login.ts
  waspc/data/Generator/templates/sdk/auth/logout.ts
  waspc/data/Generator/templates/sdk/auth/signup.ts
  waspc/data/Generator/templates/sdk/auth/useAuth.ts
  waspc/data/Generator/templates/sdk/operations/index.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/api/index.ts
  waspc/data/Generator/templates/sdk/webSocket/WebSocketProvider.tsx
  waspc/examples/todo-typescript/src/ChatPage.tsx
Labels: new sdk api

#1682 [New SDK]: 'wasp/server'.
  waspc/data/Generator/templates/sdk/auth/jwt.ts
  waspc/data/Generator/templates/sdk/auth/lucia.ts
  waspc/data/Generator/templates/sdk/auth/session.ts
  waspc/data/Generator/templates/sdk/auth/utils.ts
  waspc/data/Generator/templates/sdk/dbSeed/types.ts
  waspc/data/Generator/templates/sdk/jobs/_jobTypes.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/_types/index.ts
  waspc/data/Generator/templates/sdk/server/actions/index.ts
  waspc/data/Generator/templates/sdk/server/auth/email/utils.ts
  waspc/data/Generator/templates/sdk/server/config.ts
  waspc/data/Generator/templates/sdk/server/dbClient.ts
  waspc/data/Generator/templates/sdk/server/index.ts
  waspc/data/Generator/templates/sdk/server/queries/index.ts
  waspc/data/Generator/templates/sdk/server/types/index.ts
  waspc/data/Generator/templates/sdk/server/webSocket/index.ts
  waspc/data/Generator/templates/server/src/actions/_action.ts
  waspc/data/Generator/templates/server/src/auth/providers/oauth/createRouter.ts
  waspc/data/Generator/templates/server/src/auth/providers/oauth/init.ts
  waspc/data/Generator/templates/server/src/auth/utils.ts
  waspc/data/Generator/templates/server/src/crud/_operations.ts
  waspc/data/Generator/templates/server/src/dbSeed.ts
  waspc/data/Generator/templates/server/src/jobs/core/pgBoss/pgBoss.ts
  waspc/data/Generator/templates/server/src/middleware/globalMiddleware.ts
  waspc/data/Generator/templates/server/src/queries/_query.ts
  waspc/data/Generator/templates/server/src/routes/apis/index.ts
  waspc/data/Generator/templates/server/src/server.ts
  waspc/data/Generator/templates/server/src/webSocket/initialization.ts
  waspc/examples/todo-typescript/src/setup/serverSetup.ts
  waspc/examples/todo-typescript/src/user/customEmailSending.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  web/docs/data-model/backends.md
  web/docs/data-model/entities.md
  web/docs/project/server-config.md
Labels: new sdk api

#1693 Migrate wasp/client/auth API
  waspc/data/Generator/templates/react-app/src/auth/pages/createAuthRequiredPage.jsx
  waspc/data/Generator/templates/sdk/auth/email/actions/login.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/passwordReset.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/signup.ts
  waspc/data/Generator/templates/sdk/auth/email/actions/verifyEmail.ts
  waspc/data/Generator/templates/sdk/auth/forms/Auth.tsx
  waspc/data/Generator/templates/sdk/auth/forms/ForgotPassword.tsx
  waspc/data/Generator/templates/sdk/auth/forms/Login.tsx
  waspc/data/Generator/templates/sdk/auth/forms/ResetPassword.tsx
  waspc/data/Generator/templates/sdk/auth/forms/Signup.tsx
  waspc/data/Generator/templates/sdk/auth/forms/VerifyEmail.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/Form.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/Message.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/common/LoginSignupForm.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/email/ForgotPasswordForm.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/email/ResetPasswordForm.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/email/VerifyEmailForm.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/email/useEmail.ts
  waspc/data/Generator/templates/sdk/auth/forms/internal/social/SocialButton.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/social/SocialIcons.tsx
  waspc/data/Generator/templates/sdk/auth/forms/internal/usernameAndPassword/useUsernameAndPassword.ts
  waspc/data/Generator/templates/sdk/auth/forms/types.ts
  waspc/data/Generator/templates/sdk/auth/helpers/Generic.tsx
  waspc/data/Generator/templates/sdk/auth/helpers/user.ts
  waspc/data/Generator/templates/sdk/auth/index.ts
  waspc/data/Generator/templates/sdk/auth/jwt.ts
  waspc/data/Generator/templates/sdk/auth/logout.ts
  waspc/data/Generator/templates/sdk/auth/lucia.ts
  waspc/data/Generator/templates/sdk/auth/useAuth.ts
  waspc/data/Generator/templates/sdk/auth/user.ts
  waspc/data/Generator/templates/sdk/client/auth/email.ts
  waspc/data/Generator/templates/sdk/client/auth/github.ts
  waspc/data/Generator/templates/sdk/client/auth/google.ts
  waspc/data/Generator/templates/sdk/client/auth/index.ts
  waspc/data/Generator/templates/sdk/client/auth/ui.ts
  waspc/data/Generator/templates/sdk/client/auth/username.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/package.json
  waspc/examples/todo-typescript/src/MainPage.tsx
  waspc/examples/todo-typescript/src/Todo.test.tsx
  waspc/examples/todo-typescript/src/user/auth.tsx
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Client/AuthG.hs
  waspc/waspc.cabal
Labels: new sdk api

#1695 Implement the new `wasp/server/crud` API
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/crud/_operationTypes.ts
  waspc/data/Generator/templates/sdk/server/crud/index.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/Auth.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/Login.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/Signup.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/internal/Form.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/internal/Message.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/internal/common/LoginSignupForm.tsx
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/forms/types.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/package.json
  waspc/examples/todo-typescript/src/task/crud.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Server/CrudG.hs
  waspc/waspc.cabal
Labels: new sdk api

#1699 [New SDK]: { HttpError, AuthError, DbSeedFn, MiddlewareConfigFn } from 'wasp/server'.
  waspc/data/Generator/templates/sdk/auth/utils.ts
  waspc/data/Generator/templates/sdk/auth/validation.ts
  waspc/data/Generator/templates/sdk/dbSeed/types.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/AuthError.ts
  waspc/data/Generator/templates/sdk/server/HttpError.ts
  waspc/data/Generator/templates/sdk/server/index.ts
  waspc/data/Generator/templates/sdk/server/middleware/globalMiddleware.ts
  waspc/data/Generator/templates/server/src/app.js
  waspc/data/Generator/templates/server/src/auth/providers/email/requestPasswordReset.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/resetPassword.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/signup.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/verifyEmail.ts
  waspc/data/Generator/templates/server/src/auth/utils.ts
  waspc/data/Generator/templates/server/src/dbSeed.ts
  waspc/examples/todo-typescript/src/db/seeds.ts
  waspc/examples/todo-typescript/src/setup/serverSetup.ts
  waspc/examples/todo-typescript/src/task/actions.ts
  waspc/examples/todo-typescript/src/task/queries.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
Labels: new sdk api

#1700 Implement wasp/client/crud API
  waspc/data/Generator/templates/sdk/client/crud/_crud.ts
  waspc/data/Generator/templates/sdk/client/crud/index.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/package.json
  waspc/examples/todo-typescript/src/MainPage.tsx
  waspc/examples/todo-typescript/src/Todo.test.tsx
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Client/CrudG.hs
  waspc/src/Wasp/Generator/SdkGenerator/CrudG.hs
  waspc/src/Wasp/Generator/ServerGenerator/CrudG.hs
  waspc/waspc.cabal
Labels: new sdk api

#1701 Implement new wasp/server/email API
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/auth/email/utils.ts
  waspc/data/Generator/templates/sdk/server/email/core/helpers.ts
  waspc/data/Generator/templates/sdk/server/email/core/index.ts
  waspc/data/Generator/templates/sdk/server/email/core/providers/dummy.ts
  waspc/data/Generator/templates/sdk/server/email/core/providers/mailgun.ts
  waspc/data/Generator/templates/sdk/server/email/core/providers/sendgrid.ts
  waspc/data/Generator/templates/sdk/server/email/core/providers/smtp.ts
  waspc/data/Generator/templates/sdk/server/email/core/types.ts
  waspc/data/Generator/templates/sdk/server/email/index.ts
  waspc/data/Generator/templates/server/src/auth/providers/config/email.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/requestPasswordReset.ts
  waspc/data/Generator/templates/server/src/auth/providers/email/signup.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/utils.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/auth/validation.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/package.json
  waspc/examples/todo-typescript/src/task/actions.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Client/CrudG.hs
  waspc/src/Wasp/Generator/SdkGenerator/EmailSender/Providers.hs
  waspc/src/Wasp/Generator/SdkGenerator/Server/EmailSenderG.hs
  waspc/waspc.cabal
Labels: new sdk api

#1702 Implement new wasp/server/jobs API
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/jobs/_jobTypes.ts
  waspc/data/Generator/templates/sdk/server/jobs/index.ts
  waspc/data/Generator/templates/sdk/server/jobs/pgBoss/types.ts
  waspc/data/Generator/templates/server/src/jobs/core/pgBoss/pgBossJob.ts
  waspc/examples/todo-typescript/.wasp/out/sdk/wasp/package.json
  waspc/examples/todo-typescript/src/jobs/print.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Server/JobGenerator.hs
  waspc/src/Wasp/Generator/ServerGenerator/JobGenerator.hs
  waspc/waspc.cabal
Labels: new sdk api

#1703 Implement the wasp/client/router API
  waspc/data/Generator/templates/react-app/src/router.tsx
  waspc/data/Generator/templates/sdk/client/router/Link.tsx
  waspc/data/Generator/templates/sdk/client/router/index.ts
  waspc/data/Generator/templates/sdk/client/router/linkHelpers.ts
  waspc/data/Generator/templates/sdk/client/router/types.ts
  waspc/data/Generator/templates/sdk/package.json
  waspc/examples/todo-typescript/src/user/auth.tsx
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Client/RouterGenerator.hs
  waspc/waspc.cabal
Labels: new sdk api

#1704 Implement wasp/client/test API
  waspc/data/Generator/templates/sdk/client/test/index.ts
  waspc/data/Generator/templates/sdk/client/test/vitest/helpers.tsx
  waspc/data/Generator/templates/sdk/package.json
  waspc/examples/todo-typescript/src/Todo.test.tsx
  waspc/src/Wasp/Generator/SdkGenerator.hs
Labels: new sdk api

#1711 Update imports and API for `server/operations`
  waspc/data/Generator/templates/sdk/package.json
  waspc/data/Generator/templates/sdk/server/operations/actions/index.ts
  waspc/data/Generator/templates/sdk/server/operations/actions/types.ts
  waspc/data/Generator/templates/sdk/server/operations/index.ts
  waspc/data/Generator/templates/sdk/server/operations/queries/index.ts
  waspc/data/Generator/templates/sdk/server/operations/queries/types.ts
  waspc/examples/todo-typescript/src/task/actions.ts
  waspc/examples/todo-typescript/src/task/queries.ts
  waspc/src/Wasp/Generator/SdkGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Client/OperationsGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/Common.hs
  waspc/src/Wasp/Generator/SdkGenerator/CrudG.hs
  waspc/src/Wasp/Generator/SdkGenerator/Server/OperationsGenerator.hs
  waspc/src/Wasp/Generator/SdkGenerator/WebSocketGenerator.hs
  waspc/waspc.cabal
Labels: restructuring, new sdk api
