Repository wasp-lang/wasp, pull requests merged in 2024-07, with the labels that each got.

#2142 Updates Accessing User Data page
  web/docs/auth/entities/_discord-data.md
  web/docs/auth/entities/entities.md
  web/docs/auth/social-auth/discord.md
Labels: documentation, prisma

#2143 Migration docs for the Prisma file
  web/docs/data-model/prisma-file.md
  web/docs/migrate-from-0-11-to-0-12.md
  web/docs/migrate-from-0-12-to-0-13.md
  web/docs/migrate-from-0-13-to-0-14.md
Labels: documentation, prisma

#2107 Update docs to use Prisma file
  examples/tutorials/TodoApp/main.wasp
  examples/tutorials/TodoApp/schema.prisma
  examples/tutorials/TodoAppTs/main.wasp
  examples/tutorials/TodoAppTs/schema.prisma
  web/docs/advanced/jobs.md
  web/docs/auth/email.md
  web/docs/auth/entities/_discord-data.md
  web/docs/auth/entities/entities.md
  web/docs/auth/overview.md
  web/docs/auth/social-auth/_wasp-file-structure-note.md
  web/docs/auth/social-auth/discord.md
  web/docs/auth/social-auth/github.md
  web/docs/auth/social-auth/google.md
  web/docs/auth/social-auth/keycloak.md
  web/docs/auth/social-auth/overview.md
  web/docs/auth/username-and-pass.md
  web/docs/data-model/backends.md
  web/docs/data-model/crud.md
  web/docs/data-model/entities.md
  web/docs/data-model/prisma-file.md
  web/docs/general/cli.md
  web/docs/general/language.md
  web/docs/introduction/editor-setup.md
  web/docs/introduction/introduction.md
  web/docs/migrate-from-0-11-to-0-12.md
  web/docs/migrate-from-0-12-to-0-13.md
  web/docs/migrate-from-0-13-to-0-14.md
  web/docs/tutorial/02-project-structure.md
  web/docs/tutorial/04-entities.md
  web/docs/tutorial/07-auth.md
  web/sidebars.js
  web/static/img/data-model/prisma_in_wasp.png
Labels: documentation, prisma

#2155 Migrate Waspleau to 0.14.0
  examples/waspleau/main.wasp
  examples/waspleau/schema.prisma
  examples/waspleau/tsconfig.json
Labels: example

#2160 Migrate Waspello to 0.14.0
  examples/waspello/main.wasp
  examples/waspello/schema.prisma
  examples/waspello/src/auth/user.ts
  examples/waspello/tsconfig.json
Labels: example

#2159 Migrate todo-typescript example app to 0.14.0
  examples/todo-typescript/main.wasp
  examples/todo-typescript/schema.prisma
  examples/todo-typescript/src/LoginPage.tsx
  examples/todo-typescript/src/Main.css
  examples/todo-typescript/src/MainPage.tsx
  examples/todo-typescript/src/SignupPage.tsx
  examples/todo-typescript/src/actions.ts
  examples/todo-typescript/src/queries.ts
  examples/todo-typescript/src/waspLogo.png
  examples/todo-typescript/tsconfig.json
Labels: example

#2158 Migrate thoughts app to 0.14.0
  examples/thoughts/main.wasp
  examples/thoughts/schema.prisma
  examples/thoughts/src/client/TopNavbar.jsx
  examples/thoughts/tsconfig.json
Labels: example

#2154 Migrates websockets app example to 0.14.0
  examples/websockets-realtime-voting/main.wasp
  examples/websockets-realtime-voting/package-lock.json
  examples/websockets-realtime-voting/schema.prisma
  examples/websockets-realtime-voting/src/Layout.jsx
  examples/websockets-realtime-voting/src/Main.css
  examples/websockets-realtime-voting/src/logo.png
  examples/websockets-realtime-voting/src/pages/LoginPage.jsx
  examples/websockets-realtime-voting/src/pages/MainPage.tsx
  examples/websockets-realtime-voting/src/pages/SignupPage.jsx
  examples/websockets-realtime-voting/src/waspLogo.png
  examples/websockets-realtime-voting/src/ws-server.ts
  examples/websockets-realtime-voting/tsconfig.json
Labels: example

#2152 Make sure `entity` declaration is not used in the Wasp file
  waspc/src/Wasp/Analyzer.hs
  waspc/src/Wasp/Analyzer/AnalyzeError.hs
  waspc/src/Wasp/Analyzer/Parser/Valid.hs
  waspc/src/Wasp/Analyzer/StdTypeDefinitions/Entity.hs
  waspc/src/Wasp/Analyzer/TypeChecker/TypeError.hs
  waspc/test/Analyzer/ValidTest.hs
  waspc/waspc.cabal
  waspc/waspls/src/Wasp/LSP/Diagnostic.hs
Labels: prisma

#2153 Reintroduce TypeScript docs
  web/docs/_TypescriptServerNote.md
  web/docs/_WaspStartNote.md
  web/docs/advanced/web-sockets.md
  web/docs/data-model/backends.md
  web/docs/data-model/crud.md
  web/docs/data-model/entities.md
  web/docs/data-model/operations/_superjson-note.md
  web/docs/data-model/operations/actions.md
  web/docs/data-model/operations/queries.md
  web/docs/general/typescript.md
  web/docs/introduction/editor-setup.md
  web/docs/tutorial/01-create.md
  web/docs/tutorial/02-project-structure.md
  web/docs/tutorial/03-pages.md
  web/sidebars.js
Labels: documentation

#2156 Updates Hackathon example app to 0.14.0
  examples/hackathon-submissions/main.wasp
  examples/hackathon-submissions/schema.prisma
  examples/hackathon-submissions/src/components/Navbar.tsx
  examples/hackathon-submissions/src/components/Projects.tsx
  examples/hackathon-submissions/src/components/SubmissionForm.tsx
  examples/hackathon-submissions/src/projects.js
  examples/hackathon-submissions/tsconfig.json
Labels: example

#2189 Remove note about `type` blocks from migration docs
  web/docs/data-model/prisma-file.md
Labels: documentation
