Repository wasp-lang/wasp, pull requests merged in 2025-04, with the labels that each got.

#2604 Update node to v20 for `crud-testing`
  waspc/examples/crud-testing/package-lock.json
Labels: example

#2605 Update node to v20 for `todo-typescript`
  examples/todo-typescript/package-lock.json
Labels: example

#2644 Move username and password JS to their own folder
  waspc/data/Generator/templates/sdk/wasp/auth/forms/internal/usernameAndPassword/useUsernameAndPassword.ts
  waspc/data/Generator/templates/sdk/wasp/auth/username/actions/login.ts
  waspc/data/Generator/templates/sdk/wasp/auth/username/actions/signup.ts
  waspc/data/Generator/templates/sdk/wasp/auth/username/index.ts
  waspc/data/Generator/templates/sdk/wasp/client/auth/username.ts
  waspc/src/Wasp/Generator/SdkGenerator/Auth/LocalAuthG.hs
Labels: refactoring, auth

#2647 Add migration guide for #2598
  web/docs/migration-guides/migrate-from-0-16-to-0-17.md
  web/sidebars.js
Labels: documentation
